@import "michu-tech.colors.css";

/* colors: https://coolors.co/0D181C-264653-2a9d8f-e9c46a-f4a261-e76f51 */
/*:root {*/
/*  --black: #0D181C;*/
/*  --blue: #264653;*/
/*  --gray: #2A9D8F;*/
/*  --yellow: #E9C46A;*/
/*  --brown: #F4A261;*/
/*}*/

* {
  font-family: "Inter", sans-serif;
  color: var(--michu-tech-foreground);
}

::selection {
  color: var(--michu-tech-accent);
  background: var(--michu-tech-primary);
}

html {
  background-color: var(--michu-tech-background);
  min-height: 100svh;
}

body {
  padding: 8vw;
}

#michu-tech-logo-upper {
  fill: var(--michu-tech-primary);
}

#michu-tech-logo-lower {
  fill: var(--michu-tech-accent);
}

h1 {
  font-size: 35px;
}

.text {
  font-weight: 300;
  font-size: 18px;
}

.small-text {
  font-weight: 100;
  font-style: italic;
  font-size: 14px;
}

/* (shorthand does not work with color-mix) */
/*noinspection CssReplaceWithShorthandSafely*/
.input {
  border: 2px solid;
  border-color: color-mix(in srgb, var(--michu-tech-primary) 75%, transparent);
  border-radius: 5px;
  background-color: color-mix(in srgb, var(--michu-tech-primary) 15%, transparent);
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;

  transition: all 200ms ease-out;
}

.input::placeholder {
  color: color-mix(in srgb, var(--michu-tech-foreground) 60%, transparent);
}

.input:active,
.input:focus {
  border-color: var(--michu-tech-primary);
}

.labeled-input {
  position: relative;
  padding-top: 20px;
}

.labeled-input label {
  position: absolute;
  left: 5px;
  top: 5px;
  font-weight: 300;
  font-size: 12px;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  font-weight: 700;
  background-color: color-mix(in srgb, var(--michu-tech-primary) 15%, transparent);

  transition: all 200ms ease-out;
}

.button:hover {
  background-color: color-mix(in srgb, var(--michu-tech-primary) 25%, transparent);
}

.button:disabled,
.button:disabled:hover {
  cursor: default;
  background-color: color-mix(in srgb, var(--michu-tech-primary) 5%, transparent);
  color: color-mix(in srgb, var(--michu-tech-foreground) 60%, transparent);

  filter: brightness(1);
}

.icon-button {
  all: unset;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: all 200ms ease-out;
}

.icon-button:hover {
  background-color: color-mix(in srgb, var(--michu-tech-accent) 50%, transparent);
}

.icon-button span {
  color: color-mix(in srgb, var(--michu-tech-primary) 75%, transparent);
}

.checkbox {
  accent-color: var(--michu-tech-primary);
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.checkbox:checked {
  background-color: var(--michu-tech-accent);
}

.page-description {
  max-width: 500px;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 5vh;
}

.editable-list {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 12px;
  border-radius: 6px;
  box-sizing: border-box;

  background-color: color-mix(in srgb, var(--michu-tech-background) 90%, var(--michu-tech-foreground));
}

.editable-list .row {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;

  min-height: 60px;
  align-items: center;
  justify-content: flex-start;
}

.editable-list .divider {
  border-bottom: var(--michu-tech-primary) 2px dashed;
}

.editable-list .row .cell {
  flex: 1;
  max-width: 500px;
  min-width: 100px;
  margin: 0;
  padding: 0;
}
